@import './variables.css';

/* Add any global styles here */
body {
  margin: 0;
  padding: 0;
}

#root {
  padding: 2rem;
  max-width: 1920px;
  margin: 0 auto;
}

/* Add utility classes */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 